
<div class="row">
    <!-- Heading row -->
    <div class="row">
        <div class="col-md-12">
            <h1>机器人</h1>
            <p>
                微软提供了<a href="https://docs.microsoft.com/en-us/bot-framework/overview-introduction-bot-framework">Bot Framework</a>
                可以很方便的帮助实现我们自己的机器人，比如我这里演示的就是图片处理机器人，将Bot Framework与认知服务整合在一起。目前提供三个功能：缩略图，图中取字和图片分析
            </p>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h4>欢与AzAiDemo机器人聊天！   <button class="btn-link" onclick="startBot()">开始</button></h4>                
                <div id="chat2Bot" class="row" style="display:none">
                    <iframe id="bot" class="bot-window" src='about:blank'></iframe>
                </div>
            </div>
        </div>
    </div>
</div>