@{
    ViewData["Title"] = "Azure智能演示";
}

<div class="row">
    <div class="row">
        <div class="col-md-12">
            <h1>Azure智能演示</h1>
            <p>
                本网站将演示Azure提供的各种智能服务，会包含多个场景来演示各个不同Azure智能服务，比如智能缩略图，表情识别等等                
            </p>
        </div>
        <div class="col-md-12">
            <div class="list-group">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/Home/Thumbnail"><h4>智能缩略图</h4></a>
                    </li>
                    <li class="list-group-item">获取图片缩略图是个很常见的场景，但要固定大小的同时保证图片质量不是个容易的事情，使用
                    <a href="https://dev.cognitive.azure.cn/docs/services/56f91f2d778daf23d8ec6739/operations/56f91f2e778daf14a499e1fb">Azure认知服务的计算机视觉API</a>
                    里的智能截图将会帮你轻松达到理想效果。
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/Home/Ocr"><h4>图中取字</h4></a>
                    </li>
                    <li class="list-group-item">
                        OCR（光学字符识别）可以帮助我们从图片中提取出其中的文字，实际当中也有着广泛的应用，比如车牌识别。
                        <a href="https://dev.cognitive.azure.cn/docs/services/56f91f2d778daf23d8ec6739/operations/56f91f2e778daf14a499e1fb">Azure认知服务的计算机视觉API</a>
                        也提供了OCR功能。                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>