@{
    ViewData["Title"] = "缩略图";
}

<div class="row">
    <!-- Heading row -->
    <div class="row">
        <div class="col-md-12">
            <h1>缩略图</h1>
            <p>Azure认知服务-计算机视觉API里的<a href="https://dev.cognitive.azure.cn/docs/services/56f91f2d778daf23d8ec6739/operations/56f91f2e778daf14a499e1fb">Get Thumbnail API</a>会对图片进行分析，找到感兴趣的区域（ROI），然后根据这个区域按指定大小的比例进行裁剪，最后返回指定大小的缩略图
            </p>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h4>输入图片URL或者上传图片，获取缩略图</h4>
                <div class="col-md-12">
                    @Html.Partial("_ImageInputPartial")
                    <div class="row top-buffer">
                        <h5>设定期望大小</h5>
                        <div class="col-md-6">
                            <input type="number" class="form-control" id="heightInput" placeholder="height" tabindex="3">
                        </div>
                        <div class="col-md-6">
                            <input type="number" class="form-control" id="widthInput" placeholder="width" tabindex="4">
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <button class="btn btn-primary btn-block" onclick="getThumbnail()" type="button" id="getThumbnail" tabindex="5">获取缩略图</button>
                    </div>
                    @Html.Partial("_StatusPartial")
                    <div class="row">
                        <h4>缩略图</h4>
                        <div>
                            <img id="thumbnailImage" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
