<div class="row top-buffer" id="progress" style="display:none">
    <img class="img-center" src="~/images/lazy-loading.gif" />
</div>
<div class="row top-buffer" id="result" style="display:none">
    <div class="container">
        <div class="panel panel-success" id="statusPanel">
            <div class="panel-heading" id="statusPanelHeading">
                HTTP Status Code
            </div>
            <div class="panel-body" id="statusPanelBody">Information</div>
        </div>
    </div>
</div>